
[Unit]
Description=Collects state estimates from PixHawk via MAVLink
After=setpoint_data_collector.service

[Service]
Type=simple
User=me
WorkingDirectory=/home/me/drone/alphaDrone-communication/alpha
ExecStart=/home/me/drone/mavenv/bin/python /home/me/drone/alphaDrone-communication/alpha/mavlink/estimator_collector.py
Restart=always
RestartSec=1
StandardOutput=append:/home/me/drone/estimation.log
StandardError=append:/home/me/drone/estimation.log
Environment="PATH=/home/me/drone/mavenv/bin:/usr/bin:/bin"

# Soft real-time settings
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=60
CPUAffinity=2
LimitMEMLOCK=infinity
OOMScoreAdjust=-500

[Install]
WantedBy=multi-user.target
