
[Unit]
Description=Collects data from Hongi
After=estimation_data_collector.service

[Service]
Type=simple
User=me
WorkingDirectory=/home/me/drone/alphaDrone-communication/alpha
ExecStart=/home/me/drone/mavenv/bin/python /home/me/drone/alphaDrone-communication/alpha/hongi_process.py
Restart=always
RestartSec=2
StandardOutput=append:/home/me/drone/hongi.log
StandardError=append:/home/me/drone/hongi.log
Environment="PATH=/home/me/drone/mavenv/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
