
[Unit]
Description=Neural network online learner (generational training against Vicon GT)
After=estimation_data_collector.service vicon_data_collector.service setpoint_data_collector.service

[Service]
Type=simple
User=me
WorkingDirectory=/home/me/drone/alphaDrone-communication/alpha
ExecStart=/home/me/drone/mavenv/bin/python -m nn.online_learner
Restart=always
RestartSec=5
StandardOutput=append:/home/me/drone/nn_online_learner.log
StandardError=append:/home/me/drone/nn_online_learner.log
Environment="PATH=/home/me/drone/mavenv/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
