
[Unit]
Description=its triangulating time
After=vicon_data_collector.service

[Service]
Type=simple
User=me
WorkingDirectory=/home/me/drone/alphaDrone-communication/alpha
ExecStart=/home/me/drone/mavenv/bin/python /home/me/drone/alphaDrone-communication/alpha/obstacle/triangulator.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/me/drone/mavenv/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
