
[Unit]
Description=Collects data from vicon
After=network.target

[Service]
Type=simple
User=me
WorkingDirectory=/home/me/drone/alphaDrone-communication/alpha
ExecStart=/home/me/drone/mavenv/bin/python /home/me/drone/alphaDrone-communication/alpha/vicon/vicon_collector.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/me/drone/mavenv/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
