
[Unit]
Description=showing things on viser
After=estimation-data_collector.service

[Service]
Type=simple
User=me
WorkingDirectory=/home/me/drone/alphaDrone-communication/alpha
ExecStart=/home/me/drone/mavenv/bin/python /home/me/drone/alphaDrone-communication/alpha/viz/baby_sitter.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/me/drone/mavenv/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
